<div class="container">
  <header>
    <img
      src="https://github.com/victorborges97.png"
      alt="Avatar"
      class="avatar"
    />
    <p class="title">
      <span class="name">João Victor</span>
      <span class="username">&#64;victorborges97</span>
    </p>

    <div class="social">
      <a href="https://github.com/victorborges97" target="_blank">Github</a>
      <a href="https://www.linkedin.com/in/victorborges97/" target="_blank"
        >Linkedin</a
      >
    </div>
  </header>

  <main>
    <div class="group" *ngFor="let group of groups">
      <h5 class="title">{{ group.description }}</h5>

      <ul class="links">
        <li class="link" *ngFor="let link of group.links">
          <a href="{{ link.url }}" target="_blank">
            {{ link.label }}
          </a>
        </li>
      </ul>
    </div>
  </main>

  <footer>Links.io 2025</footer>
</div>
